/Vamos integrar sistemas (CadastroEE)/CadastroEE/CadastroEE-ejb/build/
/Vamos integrar sistemas (CadastroEE)/CadastroEE/CadastroEE-ejb/dist/
/Vamos integrar sistemas (CadastroEE)/CadastroEE/CadastroEE-war/dist/
